@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 2a 36;
    --foreground: f8 f8 f2;
    --card: 44 47 5a;
    --card-foreground: f8 f8 f2;
    --popover: 44 47 5a;
    --popover-foreground: f8 f8 f2;
    --primary: bd 93 f9;
    --primary-foreground: f8 f8 f2;
    --secondary: 62 72 a4;
    --secondary-foreground: f8 f8 f2;
    --muted: 44 47 5a;
    --muted-foreground: 62 72 a4;
    --accent: 8b e9 fd;
    --accent-foreground: 28 2a 36;
    --destructive: ff 55 55;
    --destructive-foreground: f8 f8 f2;
    --border: 44 47 5a;
    --input: 44 47 5a;
    --ring: 8b e9 fd;
    --radius: 0.5rem;
  }

  .dark {
    --background: 28 2a 36;
    --foreground: f8 f8 f2;
    --card: 44 47 5a;
    --card-foreground: f8 f8 f2;
    --popover: 44 47 5a;
    --popover-foreground: f8 f8 f2;
    --primary: bd 93 f9;
    --primary-foreground: f8 f8 f2;
    --secondary: 62 72 a4;
    --secondary-foreground: f8 f8 f2;
    --muted: 44 47 5a;
    --muted-foreground: 62 72 a4;
    --accent: 8b e9 fd;
    --accent-foreground: 28 2a 36;
    --destructive: ff 55 55;
    --destructive-foreground: f8 f8 f2;
    --border: 44 47 5a;
    --input: 44 47 5a;
    --ring: 8b e9 fd;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-dracula-background text-dracula-foreground;
  }
}

/* Swiper Hero Slider Navigation */
.hero-swiper .swiper-button-prev,
.hero-swiper .swiper-button-next {
  opacity: 0;
  transition: opacity 0.3s;
  color: white;
}

.group:hover .hero-swiper .swiper-button-prev,
.group:hover .hero-swiper .swiper-button-next {
  opacity: 1;
}

@media (max-width: 767px) {
  .hero-swiper .swiper-button-next,
  .hero-swiper .swiper-button-prev {
    display: none;
  }
}
