@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 2a 36;
    --foreground: f8 f8 f2;
    --card: 44 47 5a;
    --card-foreground: f8 f8 f2;
    --popover: 44 47 5a;
    --popover-foreground: f8 f8 f2;
    --primary: bd 93 f9;
    --primary-foreground: f8 f8 f2;
    --secondary: 62 72 a4;
    --secondary-foreground: f8 f8 f2;
    --muted: 44 47 5a;
    --muted-foreground: 62 72 a4;
    --accent: 8b e9 fd;
    --accent-foreground: 28 2a 36;
    --destructive: ff 55 55;
    --destructive-foreground: f8 f8 f2;
    --border: 44 47 5a;
    --input: 44 47 5a;
    --ring: 8b e9 fd;
    --radius: 0.5rem;

    --dracula-background: #282a36;
    --dracula-current-line: #44475a;
    --dracula-foreground: #f8f8f2;
    --dracula-comment: #6272a4;
    --dracula-cyan: #8be9fd;
    --dracula-green: #50fa7b;
    --dracula-orange: #ffb86c;
    --dracula-pink: #ff79c6;
    --dracula-purple: #bd93f9;
    --dracula-red: #ff5555;
    --dracula-yellow: #f1fa8c;
  }

  .dark {
    --background: 28 2a 36;
    --foreground: f8 f8 f2;
    --card: 44 47 5a;
    --card-foreground: f8 f8 f2;
    --popover: 44 47 5a;
    --popover-foreground: f8 f8 f2;
    --primary: bd 93 f9;
    --primary-foreground: f8 f8 f2;
    --secondary: 62 72 a4;
    --secondary-foreground: f8 f8 f2;
    --muted: 44 47 5a;
    --muted-foreground: 62 72 a4;
    --accent: 8b e9 fd;
    --accent-foreground: 28 2a 36;
    --destructive: ff 55 55;
    --destructive-foreground: f8 f8 f2;
    --border: 44 47 5a;
    --input: 44 47 5a;
    --ring: 8b e9 fd;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: var(--dracula-background);
    color: var(--dracula-foreground);
  }
}